@use "../../globalStyles/globalStyles";

$width: 425px;

@mixin mobile {
  @media (max-width:#{$width}) {
    @content;
  }
}

.o-tarjetas {
  width: 100%;
  height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    



  .o-tarjeta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 2rem 0 2rem;

    .o-img-card-cont {
      width: 100%;
      height: 16rem;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .o-card-text-cont {
      width: 100%;
      height: 12rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-size: 2rem;
        padding: 0 1rem;
        font-family: globalStyles.$fuente;
        margin: 0;
      }
      p {
        font-size: 1.3rem;
        text-align: justify;
        padding: 1rem 1rem;
        margin: 0;
        font-family:globalStyles.$fuenteSecundaria ;
        font-weight: 300;
      }
    }
  }
}
