@use "../../globalStyles/globalStyles";

$width: 425px;

@mixin mobile {
  @media (max-width:#{$width}) {
    @content;
  }
}

.o-nav-arepa {
  width: 100%;
  height: 6rem;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  transition: all ease 0.2s;
  overflow: hidden;

  .o-nav-right {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    @include mobile{
      display: none;
    }

    a {
      text-decoration: none;
      font-family: "Amatic SC", cursive;
      font-size: 2rem;
      color: globalStyles.$secundaryColor;
      font-weight: 700;
      border-bottom: 1px solid globalStyles.$mainColor_opa;
      transition: all ease 0.5s;

      &:hover {
        color: globalStyles.$secundaryColor;

        border-bottom: 0.2rem solid globalStyles.$mainColor;
      }
    }
  }

  .o-img-nav-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 30%;
    }
  }

  .o-nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;

    @include mobile{
      width: 80%;
    }
    .o-logo-container {
      width: 15%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      @include mobile{
        display: none;
      }
    }

    .hamburger {
      display: none;

      @include mobile {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        z-index: 1;
        padding-right: 1rem;
      }
    }
    .hamburger_activo {
      display: none;

      @include mobile {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        z-index: 5;
        padding-right: 1rem;
      }
    }
  }
}

.o-nav-arepa.scrolled {
  width: 100%;
  height: 4rem;
  background-color: globalStyles.$secundaryColor;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  /*box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;*/
  transition: all ease 0.5s;
  overflow: hidden;

  .o-nav-right {
    width: 40%;
    a {
      color: white;
      &:hover {
        color: globalStyles.$mainColor;
      }
    }
  }

  .o-img-nav-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 30%;
    }
  }
  .o-nav-left {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    @include mobile{
      width: 80%;
    }
  }
}
